In [1]:
#Basic Imports
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt

#Training the Data Imports
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import LinearSVC
from sklearn.tree import DecisionTreeRegressor

from sklearn.metrics import f1_score
from sklearn.metrics import r2_score

from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split

#Encoder Imports
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer


#force pandas to display all rows and columns
pd.set_option('display.max_rows', 28242)
pd.set_option('display.max_columns', 15)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

#read initial file
df = pd.read_csv("./yield_df.csv").iloc[:, 1:]

In [2]:
#Shuffle dataset
df = df.sample(frac=1)

#Split the dataset into X (starting data) and Y (prediction)
y = df['hg/ha_yield']
x = df.drop(['hg/ha_yield', 'average_rain_fall_mm_per_year', 'pesticides_tonnes', 'avg_temp'], axis=1)

In [3]:
#encode strings to array
#https://www.youtube.com/watch?v=irHhDMbw3xo&ab_channel=DataSchool

#making the model & pipeline
column_trans = make_column_transformer(
    (OneHotEncoder(), ['Area', 'Item']), remainder="passthrough")
model = DecisionTreeRegressor()
pipe = make_pipeline(column_trans, model)

In [4]:
#Splitting the dataset
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.20, shuffle=False)

In [5]:
pipe.fit(x_train, y_train)
y_pred = pipe.predict(x_test)
print(r2_score(y_test,y_pred))

0.9864205410696054

In [11]:
d = {'Area': ['India'], 'Item': ['Maize'], 'Year': [2013]}
test = pd.DataFrame(data=d)
pipe.predict(test)

array([25726.])

In [12]:
import pickle
pickle.dump(pipe, open('cropmodel.pkl', 'wb'))

pipe = pickle.load(open('cropmodel.pkl', 'rb'))
res = pipe.predict(test)

In [13]:
df['Area'].unique()

array(['Bangladesh', 'Japan', 'India', 'Libya', 'Brazil', 'Pakistan',
       'Mozambique', 'Namibia', 'Mexico', 'Botswana', 'Zambia',
       'Zimbabwe', 'Thailand', 'Mauritania', 'Egypt', 'Guyana',
       'South Africa', 'Honduras', 'Greece', 'Sri Lanka', 'Uganda',
       'Italy', 'Hungary', 'Uruguay', 'Spain', 'Algeria', 'Chile',
       'Canada', 'Germany', 'Ecuador', 'Mali', 'Norway', 'Peru',
       'Tajikistan', 'Australia', 'Suriname', 'Kazakhstan', 'Colombia',
       'Lithuania', 'Bulgaria', 'Bahrain', 'Burundi', 'Turkey', 'Finland',
       'Rwanda', 'United Kingdom', 'Malaysia', 'Jamaica', 'Croatia',
       'Lebanon', 'Cameroon', 'Austria', 'Ukraine', 'Indonesia', 'Angola',
       'Argentina', 'Qatar', 'Albania', 'Guinea', 'Malawi', 'Morocco',
       'El Salvador', 'Central African Republic', 'Belarus', 'Ghana',
       'Tunisia', 'Niger', 'Mauritius', 'Azerbaijan', 'Kenya',
       'Guatemala', 'Nicaragua', 'Denmark', 'Iraq', 'Poland', 'Bahamas',
       'Saudi Arabia', 'Romania', 'Papua New Guinea',
       'Dominican Republic', 'Burkina Faso', 'Haiti', 'Portugal',
       'Madagascar', 'Nepal', 'Ireland', 'Lesotho', 'Montenegro',
       'Senegal', 'Slovenia', 'Belgium', 'France', 'Sweden',
       'New Zealand', 'Latvia', 'Netherlands', 'Eritrea', 'Estonia',
       'Switzerland', 'Armenia', 'Sudan'], dtype=object)

In [16]:
x.head()

             Area            Item  Year
2247   Bangladesh  Sweet potatoes  2004
16983       Japan           Maize  2010
14355       India           Wheat  2012
17945       Libya           Wheat  2005
13795       India        Soybeans  2009